/***GENERAL***/

html, body, ng-view {
   height:100%;
   width:100%;
   margin:0;
   padding:0;
}

.container {
   max-width:940px;
   margin:0 auto;
}

/***HEADER***/
.header {
   background-color:red;
   color:white;
}

.header .navbar-custom {
   background-color:transparent;
   border:0;
   margin:0;
   color:white;
}

.header .navbar-custom .nav li > a {
   color: white;
}

/*
.header .navbar-custom .nav li > a:hover {
   color: grey;
}

.header .navbar-custon .nav .active {
   color:grey;
}
*/

.header .navbar-custom .navbar-brand {
   color:white;
   font-weight:bold;
   font-size:1.5em;
}

/***HOME***/
.splash {
   background: url("../img/solarSystem.jpg") no-repeat center center;
   height:500px;
} 

.splash h1 {
   margin-top:30px;
   font-size:4em;
   color:white;
}

.main {
   background-color:grey;
   text-align:center;
   padding:50px 0;
}

.main img {
   padding-bottom: 20px;
}

.main p {
   font-size:1.5em;
   font-weight: bold;
}

.plug {
   background-color:black;
   color:white;
   padding:30px 0;
   text-align: center;
}

/***ABOUT***/
.gmat{
   text-align:center;
}


/***CONTACT***/
.contact .container{
   padding:50px 200px;
}

.contact h2 {
   text-size:3em;
}

.contact input[type="text"],textarea {
   width:100%;
}

.contact .center {
   text-align:center;
}

.contact input[type="submit"] {
   width: 100px;
   height:50px;
}


/***FOOTER***/
.footer {
   padding: 20px 0;
   background-color: red;
   color: white;
}

.footer ul {
   list-style-type: none;
}

.footer li {
   float: left;
   margin: 0 10px;
}

.footer li a {
   color: white;
   text-decoration: none;
}
