.simulator {
   position: absolute;
   width: 100%;
   height: 100%;
}

.simulator .main-menu-bar {
   float: left;
   width: 75px;
   height: 100%;
   background-color: red;
}

.simulator .main-menu {
   list-style-type:none;
   position: block;
   margin: 0;
   padding: 0;
}

.simulator .main-menu-bottom {
   position: absolute;
   bottom: 0;
}

.simulator .main-menu li {
   width: 75px;
   height:75px;
   line-height: 75px;
   color:white;
   text-align: center;
}

.simulator .main-menu li.sso {
   height: 50px;
   line-height: 50px;
}

.simulator .main-menu li:hover {
   color: gray;
   background-color:white;
}
