.col-md-6 {
   margin:0;
   padding:0;
}

form {
   margin:0;
   padding:0;
   width:100%;
   height:auto;
}

#scriptInput {
   padding:0;
   width:90%;
   height:90%;
   margin:5%;
}

.button-holder {
   text-align: center;
}

#output {
   padding:0;
   width:90%;
   height:90%;
   margin:5%;
   border:1px solid grey;
}
