<div class="header">
   <div class="container">
      <nav class="navbar navbar-default navbar-custom">
         <!-- <div class="container-fluid"> -->
               <a class="navbar-brand" href="#">Space Systems Online</a>
               <ul class="nav navbar-nav">
                  <li ng-class="{active: activeTab === 'home'}"><a href="#/">Home</a></li>
                  <li ng-class="{active: activeTab === 'simulator'}"><a href="#/simulator">Simulator</a></li>
                  <li ng-class="{active: activeTab === 'contact'}"><a href="#/contact">Contact</a></li>
                  <li ng-class="{active: activeTab === 'about'}"><a href="#/about">About</a></li>
               </ul>
               <ul class="nav navbar-nav pull-right">
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Sign up</a></li>
               </ul>
         <!-- </div> -->
      </nav>
   </div>
</div>

