<div class="header">
   <div class="container">
      <nav class="navbar navbar-default navbar-custom">
         <a class="navbar-brand" href="#/">Space Systems Online</a>
         <ul class="nav navbar-nav">
            <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>
            <li ng-class="{active: activeTab === 'simulator'}"><a ui-sref="simulator">Simulator</a></li>
            <li ng-class="{active: activeTab === 'contact'}"><a ui-sref="contact">Contact</a></li>
            <li ng-class="{active: activeTab === 'about'}"><a ui-sref="about">About</a></li>
         </ul>

         <div ng-if="!vm.user">
            <ul class="nav navbar-nav pull-right">
               <li><a href="/login" ng-class="{active: activeTab === 'login'}">Log in</a></li>
               <li><a href="/register" ng-class="{active: activeTab === 'register'}">Sign up</a></li>
            </ul>
         </div>

         <div ng-if="vm.user">
            <ul class="nav navbar-nav pull-right">
               <li class="dropdown">
                  <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{vm.user.firstName}}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                     <li><a ui-sref="account">Account</a></li>
                     <li ng-if="vm.user.admin"><a ui-sref="admin">Administration</a></li>
                     <li><a ng-click="vm.logOut()">Logout</a></li>
                  </ul>
               </li>
            </ul>

         </div>
      </nav>
   </div>
</div>

<div class="flash-message" ng-if="flash">
   <div class="container">
      <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
   </div>
</div>
