<div ng-include src="'views/partials/header.html'"></div>

<div class="gmat">
   <div class="container">
      <h2>Powered by NASA's GMAT</h2>
      <img src="/img/gmat_logo.png"/>
      <p>Do you want to go Mars but don't know when to leave or how much to bring? Do you want to study Earth protection by planning a mission to a near-Earth asteroid? Do you want to place a telescope in an orbit that is always looking outwards from the Earth and Sun? The General Mission Analysis Tool (GMAT) is an open-source space mission design tool to help you answer these and many other space flight challenges. GMAT is developed by a team of NASA, private industry, and public and private contributors. It is used for real-world engineering studies, as a tool for education and public engagement, and to fly operational spacecraft.</p>
   </div>
</div>
