<div ng-include src="'views/partials/header.html'"></div>

<div class="splash">
   <div class="container">
      <h1>Finally, a powerful yet intuitive astrodynamics simulator.</h1>
   </div>
</div>

<div class="main">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <img width=100px src="img/ellipsis.svg">
            <p>All the power of NASA's General Mission Analysis Tool (GMAT) with an interface that doesn't suck.</p>
         </div>
         <div class="col-md-4">
            <img width=100px src="img/ellipsis.svg">
            <p>Quickly and visually design a spacecraft and its maneuvers.  Export the results as data or render images and animations.</p>
         </div>
         <div class="col-md-4">
            <img width=100px src="img/ellipsis.svg">
            <p>Store your missions in the cloud and collaborate on designs.  US-based servers guarantees full ITAR compliance.</p>
         </div>
      </div>
   </div>
</div>


<div class="plug">
   <div class="container">
      <h2>Try it for free!</h2>
   </div>
</div>
